.articlecard-section {
    background-color: var(--accent-color);
    padding: 1rem 0.5rem;
    line-height: 0.8;
    
}

.article__title, .article__price {
    margin: 0;
    color: white;
    text-align: left;
    font-size: 1rem;
}

.article__price {
    word-spacing: 0.5rem;
}

.article-card {
    width: 40%;
    max-width: 13rem;
    background-color: var(--fg-color);
    font-weight: 500;
    
}