.landing__section {
    background-image: url('../images/web/hero-mobile.jpg');
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.418);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    margin: 0;
    background-attachment: fixed; /* Parallax effect */

    .landing__intro-text {
        position: absolute;
        font-size: 3rem;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: var(--text-color);
        padding: var(--padding-medium);
        line-height: 0.6;
    }
}


.info-collection-content {
    max-width: 80%;
    margin: 0 auto;

}

.info-collection-image-wrapper {
    margin: 2rem 0rem;
    height: 20%;
}

.info-collection-image {
    width: 80%;
    height: auto;
    max-height: 10rem;
    display: block;
    margin: 2rem 0;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    object-fit: cover;
    object-position: 25% 25%;
    margin: 0 auto;
}

@media (min-width: 50rem) {

    .landing__section {
        background-image: url('../images/web/hero.png');
    }
    .info-collection {
        display: flex;
        align-items: center;
        height: 100vh;

        .info-collection-content {
            flex: 0 0 50%;
            padding-left: 2rem;
            box-sizing: border-box;
            
            .info-collection-description {
                width: 70%;
            }
        }

        .info-collection-image-wrapper {
            flex: 0 0 50%; 
            height: 100%;
            margin: 0;

            .info-collection-image {
                width: 100%;
                height: 100%;
                max-height: none;
                border-radius: 0;
                margin: 0;
                box-shadow: 0 4px 16px rgba(0,0,0,0.08);
                object-fit: cover;
                object-position: 25% 25%;
            }
        }
    }
}