.find-watch {
    padding-top: 8rem;
    height: 100vh;

    text-align: center;
}

.find-watch__intro {
    background-color: var(--fg-color);
    margin: var(--margin-large);
    padding: var(--padding-medium);
}

.find-watch__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;

    button {
        cursor: pointer;
    }
}

.find-watch__filter {
    background-color: var(--bg-color);
    padding: 0.2rem;
    border: none;
    width: 25%;
}

.find-watch__or {
    font-weight: 600;
    text-decoration: underline;
}

.find-watch__search-input {
    border: 1px black solid;
    padding: 0.5rem;
    background-color: var(--fg-color);

}

.find-watch__search-button {
    padding: 0.5rem;
    background-color: var(--fg-color);
    border: 1px black solid;
}

.find-watch__results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.add-to-cart-form {
    width: max-content;
}

.add-to-cart__btn {
    padding: 0.2rem 0.8rem !important;
    border: 2px solid white !important;
    background-color: transparent;
    color: white !important;
    margin-top: 0.5rem;
    
    &&:hover {
        background-color: white;
        color: black !important;
        transition: 0.3s;
    }
}

